*{
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
  }

body{
    font-family: "Roboto", sans-serif ;
    margin: 0a;
    background-color: aqua;
    font-family: sans-serif;
    text-align: center;
}

h1{
    color: black;
    padding-bottom: 12px;
}

input{
    display: block;
    margin: auto;
    margin-bottom: 15px;
}